.margin:hover,
.margin-grey {
  margin-top: 25px;
  margin-bottom: 5px;
  background: #c4c4c4;
  border-radius: 10px;
}

.batu {
  width: 90px;
  height: 85px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.gunting {
  width: 98px;
  height: 104px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.kertas {
  width: 80px;
  height: 113px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.margin {
  margin-top: 25px;
  margin-bottom: 5px;
  border-radius: 10px;
  align-items: center;
}
