.card-style {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
    /* width: 700px; */
}

.card-style:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}