.bg-game {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Hasil {
  position: absolute;
  width: 296px;
  height: 186px;
  left: 568px;
  top: 300px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: black;
}

.button-refresh {
  position: absolute;
  width: 296px;
  height: 60px;
  left: 568px;
  top: 550px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
